$header-img: url('../images/image.jpg');
.bg {
  background: $header-img no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.form-container{
  color: #fff;
  border: 1px solid #fff;
  margin: 0 auto;
  padding: 50px 60px;
  margin-top: 20vh;
  box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
}